*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
}

.logo{
    width: 120px;
        margin-right: 20px;

}
.logo img{
    width: 100%;
}
.nav-item{
    margin-right: 20px;
}
.hero{
    height: 80vh;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
}
.hero__hero-left{
    width: 55%;
}
.hero__hero-left__hero-text h2 {
    color: #059669;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 0;
    text-align: left;
}
.hero__hero-left__hero-text h2 span{
    color: #171717;
}
.hero__hero-left__hero-description p{
margin: 10px 0 20px 0;
color: #737373;
font-size: 20px;
text-align: left;
}
.hero__hero-left__cta{
    display: flex;
}
.hero__hero-left__cta__apply button , .left__cta__learn button{
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
    background-color: #059669;
    color: #fff;
    margin: 10px 15px 10px 0;
}
.left__cta__learn button{
    background-color:  rgba(167,243,208,1);
    color:#059669;
}
.hero__hero-right{
    width: 40%;
}
.hero__hero-right img{
    width: 100%;
    z-index: 4;
    object-fit: cover;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100% )
}
.companies,.testimonal{
    margin: 40px 0;
    background-color: #fff7ed;
    padding: 45px 25px;
}
.companies__text h2{
font-weight: bolder;font-size: 38px;
text-align: center;
}
.companies__description p{
    color: #737373;
    font-size: 20px;
text-align: center;
}
.companies__carousal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.companies__carousal__img{
    height: 50px;
}
.companies__carousal__img img{
    height: 100%;
}
.whyUs{
padding: 25px 0;
}
.whyUs__text h2{
    font-weight: bolder;font-size: 38px;
    text-align: center;   
}
.whyUs__text-description p{
    color: #737373;
    font-size: 20px;
text-align: center;
margin-bottom: 30px;
}
.whyUs__card__container__text{
    padding: 20px ;
    width: 400px;
}
.whyUs__card__container__img{
    width: 400px;
}
.whyUs__card__container__img img{
    width: 100%;
    object-fit: contain;
}
.whyUs__card__container {
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 10px;
}
.whyUs__card__container__text h3 {
    text-align: center;
    font-size: 22px;
}
.whyUs__card__container__text p {
    text-align: center;
    font-size: 18px;
    color: #737373;
}


.whyUs__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonal__text h3{
    font-size: 18px;
}
.testimonal__text h3,h2,p{
text-align: center;    
}
.testimonal__text h2{

font-weight: bolder; 
}
.testimonal__text h3{
color: #059669;   
font-weight: bolder; 
}
.testimonal__text p{
padding: 10px 70px;
font-size: 20px; 
color: #737373;

}

.testimonal__description{
padding: 40px 180px;
}
.testimonal__description__container{
    text-align: center;
    margin-bottom: 20px;
}
.testimonal__description__container p{
    font-weight: bold;
    margin: 10px 0 25px 0;
}
.testimonal__description__container p span:first-child{
    color: #059669;
}
.testimonal__description__container p span:last-child{
    color: #737373;
    font-weight: 400;
}

.projects__text h3{
    font-size: 18px;
}
.projects__text h3,h2,p{
text-align: center;    
}
.projects__text h2{

font-weight: bolder; 
}
.projects__text h3{
color: #059669;   
font-weight: bolder; 
}
.projects__text p{
padding: 10px 170px;
font-size: 20px; 
color: #737373;

}
.projects__cards{
    display: flex;
    justify-content: space-between;
}
.projects__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.projects__card__img{
    margin: auto;
    width: 100%;
}
.projects__card__img img{
    width: 100%;
}
.subscription{
    margin: 40px 0;
    background-color: #ecfdf5;
    padding: 45px 25px;  
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.subscription__text h2{
    text-align: left;
    color: #064e3b;
    font-size: 28px;
    font-weight: bolder;
}
.subscription__text h2 span{
    text-align: left;
    color: #059669;
}

.subscription__cta{
    display: flex;
}
.icons__icon{
    width: 25px;
}
.icons__icon img{
    width: 100%;
    filter: grayscale(100%);
}
a{
    text-decoration: none;
    color: #737373;
    font-size: 18px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .text a:first-child{
    margin-right: 10px;
}
.icons{
    display: flex;
margin: 20px;
}
.icons .icons__icon{
    margin-right: 20px;
}